@use '../globales/mixins' as m;
.footer{
    position: relative;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

    .img-footer{
        margin: 0 auto;
        filter: drop-shadow(2px 1px .3px rgb(201, 108, 1));
        width: 200px;

        animation: titilar 10s linear infinite;


        @include m.tablet{
            width: 300px;

        }
    }

    .text-footer{
        text-align: center;
        p{
            margin: 2rem 0;
            color: white;
            font-size: .9rem;
            font-weight: 800;
            text-transform: uppercase;
        }
        p:first-child{
            font-size: .8rem;
            @include m.tablet{
                font-size: .9rem;
                
            }
        }
        .p-cv{
            font-size: .7rem;

            margin: 0;
           
       
            @include m.tablet{
                font-size: .8rem;

            }
        }
        p:last-child{
            position: absolute;
       
          
            bottom: 0;
            left: 0;
            right: 0;
        }

        .derechos{
            font-size: .5rem;
            @include m.tablet{
                font-size: .7rem;

            }
        }
      
    }
}

.trabaja{
    h2{
        text-align: center;
    }
    @include m.tablet{
        h2{
            text-align: left;
        }
    }
}

.formas-pago{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    svg{
        margin: 0 1rem;
        width: 36px;
        @include m.tablet{
            width: 48px;

        }
    }

}


@keyframes titilar {
    0%{
        filter: drop-shadow(2px 1px .3px rgb(201, 108, 1));

    }
    3%{
        filter: drop-shadow(2px 1px 9px rgb(201, 108, 1));

    }
    10%{
        filter: drop-shadow(2px 1px 9px rgb(143, 0, 107));

    }
    15%{
        filter: drop-shadow(2px 1px 9px rgb(138, 0, 143));

    }
    25%{
        filter: none;
    }
    30%{
        filter: drop-shadow(2px 1px 9px rgb(31, 0, 143));

    }
    60%{
        filter: drop-shadow(2px .5px 5px rgb(202, 206, 1));

    }
    
}