.footer{
    position: relative;
    padding: 8rem 0;
    background-color: black;

    .img-footer{
        margin: 0 auto;
        filter: drop-shadow(2px 1px .3px rgb(201, 108, 1));

        width: 300px;
        animation: titilar 10s linear infinite;

    }

    .text-footer{
        text-align: center;
        p{
            margin: 2rem 0;
            color: white;
            font-size: .9rem;
            font-weight: 800;
            text-transform: uppercase;
        }
        .p-cv{
     
            font-size: .8rem;
            margin: 0;
            font-weight: 700;
       
        }
        p:last-child{
            font-size: .7rem;
            position: absolute;
            font-weight: 100;
          
            bottom: 0;
            left: 0;
            right: 0;
        }
      
    }
}

.formas-pago{
    position: absolute;
    bottom: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    svg{
        margin: 0 1rem;
        width: 48px;
    }

}


@keyframes titilar {
    0%{
        filter: drop-shadow(2px 1px .3px rgb(201, 108, 1));

    }
    3%{
        filter: drop-shadow(2px 1px 9px rgb(201, 108, 1));

    }
    10%{
        filter: drop-shadow(2px 1px 9px rgb(143, 0, 107));

    }
    15%{
        filter: drop-shadow(2px 1px 9px rgb(138, 0, 143));

    }
    25%{
        filter: none;
    }
    30%{
        filter: drop-shadow(2px 1px 9px rgb(31, 0, 143));

    }
    60%{
        filter: drop-shadow(2px .5px 5px rgb(202, 206, 1));

    }
    
}