@use '../globales/mixins' as m;
.nosotros{
   overflow: hidden;
    padding: 0;
    background-color: #BE4884;
    position: relative;
    row-gap: 4rem;
    display: grid;
    @include m.desktopXL{
        padding: 4rem 0;

        grid-template-columns: 1.3fr 1fr;
        place-items: center;
    }
 
}
.contenedor-nosotros{
    overflow: hidden;
    position: relative;
    padding: 2rem 0;

    @include m.desktopXL{
        padding: 4rem 0;

    }
  
    height: 100%;
    width: 100%;
    background-color: #ad50b6;

    .container-tigre-gif{
        width: 100%;
        position: absolute;
        bottom: 1%;
        animation: moverTigre 9s linear infinite;
        .img-tigre{
            width: 70px;
  
  
        }

      
    }

}
.contenedor-texto-nosotros{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0rem 0rem;
    @include m.desktopXL{
        padding: 0 2rem;
        max-width: 700px;
        align-items: flex-start;
        margin: 0 auto;
        
    }
    
    .title-nosotros{
        position: relative;
        z-index: 1000000;
        h2{
            text-align: center;
            font-size: 1.8rem;
            @include m.tablet{
                font-size: 3rem;
                text-align: left;

            }
         
            color: white;
            text-transform: uppercase;
        }
    }
    .nosotros-parrafos{
        max-width: 600px;
        padding: 0 1rem;
        @include m.tablet{
            padding: 0;
        }
    }

    .parrafo-nosotros{
        p{
            font-size: .8rem;
            line-height: 1.2rem;

            @include m.tablet{
                font-size: 1rem;

            }
            text-align: justify;
            color: white;
        }
    }

    .nosotros-numeros{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: space-between;
        p{
            font-size: .8rem;
           
            margin: .5rem 0;
            color: white;
            font-weight: 600;
            &:nth-child(2){
                padding-left: 1.3rem;
            }
                &:nth-child(3){
                    padding-right: 1.3rem;
                }

                @include m.tablet{
                    font-size: 1.1rem;

                    &:nth-child(3){
                        padding-right: 2.2rem;
                    }

                    &:nth-child(2){
                        padding-left: 2.3rem;
                    }
    
                }
          
        }
    }
    .nosotros-numeros-texto{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: space-between;
        p{
            font-size: .7rem;

            @include m.tablet{
                font-size: 1rem;
            }
            color: white;
            margin: 0;
        }
      

    }
}

.contenedor-fries-icon{


    width: 64px;
    position: absolute;
    top:-60%;
    left: -12%;
    z-index: 10;
    transform: rotate(-50deg);
}
.contenedor-imagen-nosotros{
    position: relative;
    z-index: 100;

   
    .imagenes-nosotros{
        position: relative;
        max-width: 100%;
        max-height: 300px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        right: 0%;
        .img-nosotros{
            position: relative;
            height: 100%;
            width: 100%;
        }
        .img-nosotros{
            position: relative;
            height: 100%;
            width: 100%;
        }

        @include m.desktopXL{
            overflow: visible;
            max-width: 800px;

            max-height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            max-width: 800px;

            right: -1%;

            .img-nosotros{
                position: relative;
               
              
                width: 400px;
                height: 400px;
                &.img1{
                    position: absolute;
                    right: 40%;
                    bottom: -6%;
                    z-index: 1000000;
                }
                &.img2{
                    position: absolute;
                    right: 10%;

                }
    
            }

          
            img{
                border-radius: 20px;
            }
           
           
        }
       
    }
    
    width: 100%;
    height: 100%; img{
        height: 100%;
        object-fit: cover;
    }
}
@keyframes moverTigre {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(100%);
    }
}