.path-icons{
    border-radius: 30px;
    padding: 5rem .5rem;
    position: fixed;
    top: 35%;

    z-index: 10000000000;
    right: 2%;
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 20, 20, 0.26);
}
.icon{
    margin: 1rem 0;
    width: 20px;
    height: 20px;
    svg{
        height: 100%;
        width: 100%;
    }
    &:hover{
        cursor: pointer;
    }
}
//MODAL

.modal{
    z-index: 1000000000;
    background-color: rgba(12, 12, 12, 0.877);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
}
.modal-data{
    max-width: 400px;
    height: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sucursal-select{
    width: 100%;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    padding: 0 .2rem;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid white
 
}

.pedidos{
    display: flex;
    flex-direction: column;

    .icon-text
{
    position: relative;
    margin: 1rem 0;
    border-radius: 30px;
    background-color: rgba(3, 3, 3, 0.678);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
    .icon-entrega{
        position: absolute;
        left: 4%;
        width: 32px;
        img{
            border-radius: 50%;
        }
    }
    a{
        color: white;
        padding: 1rem 0;
        text-align: center;
    
    }
}