@use '../globales/mixins' as m;
.path-icons{
    border-radius: 30px;
    padding: 0rem 0rem;
    position: fixed;
    top: 80%;

    z-index: 10000000000;
    right:15%;
    display: grid;
    grid-template-columns: .2fr 1.3fr;
    background-color: rgba(20, 20, 20, 0.692);
    margin: 2rem 0;
    @include m.phoneXL{
        right: 22%;

    }
    @include m.tablet{
      
        display: grid;
        grid-template-columns: .2fr 1.3fr;
        top: 80%;
        padding: 1rem .5rem;
        padding: 0rem .5rem;
        position: fixed;
        right: 33%;
    }
    @include m.desktop{
        margin: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        padding: 1rem .5rem;
        top: 45%;
        right: 3%;
        background-color: rgba(20, 20, 20, 0.26);

    }
}
.icon{
    margin: 1rem 0;
    width: 16px;
    height: 16px;
    @include m.tablet{
        width: 20px;
        height: 20px;
    }
    svg{
        height: 100%;
        width: 100%;
    }
    &:hover{
        cursor: pointer;
    }
}
//MODAL

.modal{
    z-index: 1000000000;
    background-color: rgba(12, 12, 12, 0.877);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
}
.modal-data{
    max-width: 400px;
    height: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sucursal-select{
    width: 100%;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    padding: 0 .2rem;
    color: white;
    background-color: black;
    outline: none;
    font-size: .8rem;
    font-weight: 700;
    border: 1px solid white;
    &:hover{
        cursor: pointer;
        
    }
 
}

.pedidos{
    display: flex;
    flex-direction: column;

    .icon-text
{
    position: relative;
    margin: 1rem 0;
    border-radius: 30px;
    background-color: rgba(3, 3, 3, 0.678);
    transition: .5s all ease-in-out;
    &:is(:hover){
        background-color: white;
        cursor: pointer;
        a{
            color: black;
        }
       
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
    .icon-entrega{
        position: absolute;
        left: 4%;
        width: 32px;
        img{
            border-radius: 50%;
        }
    }
    a{
        width: 100%;
        color: white;
        padding: 1rem 0;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
    
    }
}

.pediya{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    
    top: -90%;
    left: 60%;
    width: 100px;
    transform: rotate(0deg);

    animation: none;


   
    @include m.desktop{
        position: absolute;
        transform: rotate(-90deg);    
        animation: rebotar 1s linear infinite;
        top: -30%;
        left: -90%;
    }
    svg{
        position: relative;
        
        width: 32px;
        height: 32px;
    }
    p{
        margin: 0;
        font-size: .8rem;
        color: white;
        font-weight: 700;
        text-shadow: 0px 1px 6px #000000;
        @include m.tablet{
            font-size: 1.1rem;

        }
    }
}


@keyframes rebotar {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0%);

    }
}