.trabaja{
    position: relative;
    background-color: #bd2e78;
    padding: 12rem 0;
    display: grid;
    place-items: center;
    color:white;
   p{
    margin: 0;
   }
   h2{
    margin: 1.3rem 0;
   }
   
}
